body {
    font-family: sans-serif;
    background-color: #222831 !important;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding-inline: 12px;
}
.text {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 50%;
    color: #b1b1b1;
    line-height: 1.5rem;
}
.text h2 {
    color: #76abae;
    text-transform: uppercase;
}
.text strong {
    color: #ffc470;
}

.form-wrap h2 {
    color: #e0e0e0;

    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.form-wrap {
    width: 250px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#login {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #0056b3;
}
